@font-face {
	font-family: "orbitron-medium";
src: url(../fonts/orbitron-medium.ttf);
}


body {
background-image: url(../images/iterStar_bg.jpg);
background-repeat: no-repeat;
background-size: 100% 34%;
font-family: "orbitron-medium";

}

.navbar {
		background-color: black;
		color: white;
}

.glyphicon-home {
		font-size: 3em;
}

.navbar-text-left {
	margin-top: 20px;
}

.navbar-badge-1 {
	margin-left: 90px;
}



.block {
	display: inline-block;
}

.img-responsive {
max-width: 100%;
height: auto;
}

.logo-space {
	width: 100%;
	height: 200px;
}

.text-center {
	position: relative;
}

.monkey_logo {
	width: 22%;
	height: auto;
}


.video-space {
	width: 100%;
	height: 340px;
}

.space-baground {
background-image: url(../images/space.png);
top: 100px;
}

.banner-space {
	width: 100%;
	height: 200px;
}

.left-slider-space {
	width: 100%;
	height: 300px;
}

.review {
	color: #F9F4F9;
	text-align: center;
}

.right-slider-space {
	width: 100%;
	height: 300px;
}

.radical-logo {
	width: 35%;
	height: auto;
}

.space-bottom-baground {
	background-color: #0E2F4A;
}

.left-features-slider {
	width: 100%;
	height: 400px;
}

.conceptArt-img-1 {
	width: 40%;
	height: auto;
	margin: 0 auto;
}

.conceptArt-img-2 {
	width: 50%;
	height: auto;
	margin: 0 auto;
}

.conceptArt-img-3 {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.right-features-slider {
	width: 100%;
	height: 400px;
}

.text-carrousel {
    color: white;
    text-align: center;
}

.left-screenshot-slider {
	width: 100%;
	height: 400px;
}

.screenshots {
	color: #F9F4F9;
	text-align: center;
}

.screenshot-description {
	color: #F9F4F9;
	text-align: center;
}

.right-screenshot-slider {
	width: 100%;
	height: 400px;
}

.screenshot-img {
	width: 70%;
	height: auto;
	margin: 0 auto;
}


.left-special-features {
	width: 100%;
	height: 200px;
}

.right-special-features {
	width: 100%;
	height: 200px;
}


.left-socialmedia {
	width: 100%;
	height: 200px;
}

.margin-social {
    margin-left: 10px;
    margin-right: 10px;
}

.social-size {
	width: 15%;
	height: auto;
}

.right-socialmedia {
	width: 100%;
	height: 200px;
}

.socialmedia-description {
	color: #F9F4F9;
	text-align: center;
}

.footer {
background-color: black;
color: #F9F4F9;

}
.left-footer-content {
	width: 100%;
	height: 200px;
}

.left-footer-logo {
	width: 80%;
	height: auto;
	margin-top: 20px;
}

.center-footer-content {
	width: 100%;
	height: 200px;
	text-align: center;
	margin-top: 30px;
	font-size: 16px;
}

.footer-links {
  font-size: 10px;
}


.right-footer-content {
	width: 100%;
	height: 200px;
}

.right-footer-logo {
	width: 72%;
	height: auto;
	margin-top: 20px;
}



@media (max-width: 1199px) {

.monkey_logo{
	width: 27%;
	height: auto;
	}
}

@media (max-width: 990px) {

.monkey_logo{
	width: 35%;
	height: auto;
	}
}

@media (max-width: 767px) {

.left-footer-logo {
	width: 80%;
	height: auto;
	margin-top: 20px;
}

.right-footer-logo {
	width: 80%;
	height: auto;
	margin-top: -120px;
}
	}